.btn {
    font-size: 1.5em;
    border: none;
    width: 200px;
    height: 70px;
    display: block;
    text-align:center;
    text-decoration:none;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    background: #BA881D;
    /* background: #455c74; */
    box-shadow: 2px 4px #6e4f0c;
    /* box-shadow: 2px 4px #0a1824; */
    margin: auto;
    margin-top: 20px;
  }

  .btn:active{
    border: none;
    position: relative;
    top:3px;
    background: #79560d;
    /* background: #172736; */
    box-shadow: 2px 4px #000000;
  }
  