.btn {
    font-size: 1.5em;
    border: none;
    width: 200px;
    height: 70px;
    display: block;
    text-align:center;
    text-decoration:none;
    color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 2px 4px #0a1824;
    background: #455c74;
    margin: auto;
    margin-top: 20px;
  }
  
  .btn:active{
    border: none;
    position: relative;
    top:3px;
    box-shadow: 2px 4px #000000;
    background: #172736;
  }
  